
:root {
    --colorPrimaryColour: #e97000;    
    --colorOnPrimaryColour: #faece0;    
    --colorSecondaryKeyColor: #2a8d40;    
    --colorOnSecondaryKeyColour: #dbfce2;    
    --colorTertiaryColour: #67c2f5;    
    --colorNeutralCoulor: #232123;    
}